.p {
	margin: 0;
}

.p14 {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

.p16 {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.p18 {
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
}
