.button {
	display: inline-block;
	box-sizing: border-box;
	padding: 9px;
	cursor: pointer;
	text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	transition: all 0.2s;
}
.primary {
	color: var(--white);
	background-color: var(--primary);
}
.primary:hover {
	background-color: var(--primary-hover);
}
.ghost {
	color: var(--black);
	border: 1px solid var(--grey-light);
}
.ghost:hover {
	color: var(--white);
	background: var(--primary);
}
.arrow {
	display: inline-block;
	margin-left: 8px;
}
.down {
	transform: rotate(90deg);
	transition: all 0.2s;
}
.right {
}
.primary svg,
.ghost:hover svg {
	padding-top: 1px;
	fill: var(--white);
	overflow: visible !important;
}
