.button {
	display: inline-block;

	box-sizing: border-box;
	padding: 10px;

	cursor: pointer;
	text-align: center;
	border: none;
	border-radius: 5px;

	font-size: 14px;
	transition: all 0.3s;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover {
	background-color: var(--primary-hover);
	box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.ghost {
	color: var(--black);
	background-color: none;
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
	box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.arrow {
	display: inline-block;

	margin-left: 10px;
}

.down {
	transform: rotate(90deg);
	transition: all 0.3s;
}

.primary svg,
.ghost:hover svg {
	fill: var(--white);
	padding-top: 1px;
}
