.filled svg {
	fill: var(--primary);
}
.star svg {
	margin-right: 5px;
	transition: all 0.3s;
}

.editable {
	cursor: pointer;
}

.ratingWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	color: var(--red);
	left: -13px;
}

.error svg {
	stroke: var(--red);
}