.menu {
	padding: 0;
	list-style: none;
}

.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	margin-top: 20px;
}

.firstLevelList {
	list-style: none;
	padding: 0;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondLevel {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;
	color: var(--gray-dark);
	font-weight: 300;
	font-size: 12px;

	border: none;
	background: transparent;
	padding: 0;
}

.secondBlock {
	margin-left: 12px;
	margin-top: 15px;
	list-style: none;

	padding: 0 0 0 32px;
	padding-left: 32px;
	border-left: 1px solid #dfdfdf;
}

.secondLevelBlock {
	overflow: hidden;
	list-style: none;
	padding: 0;
}

.thirdLevel {
	margin-bottom: 10px;
	cursor: pointer;
	color: var(--gray-dark);
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 180px;
	overflow: hidden;
	outline-offset: -1px;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
