.reviewForm {
	font-size: 14px;
	line-height: 24px;
	display: grid;

	grid-template-columns: [start] auto 1fr auto [end];
	justify-items: left;
	gap: 20px 30px;
}

.description { 
	grid-column: start / end;
}