:root {
	--font-family: 'Noto Sans', sans-serif;
	--black: #3b434e;
	--gray: #A4A4A4;
	--gray-light: #ebebeb;
	--gray-dark: #787d85;
	--white: #ffffff;
	--primary: #7653fc;
	--primary-hover: #6344df;
	--red: #FC836D;
	--green: #1dc37e;
	--green-light: #c8f8e4;
}

body {
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #f5f6f8;
}
	
* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}
